@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.btn {
  background-color: #006dff;
  border: 2px solid #006dff;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px 15px;
}
